*{
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}
/* .container{
  width: 100% !important;
  min-height: 100vh !important;
} */

.home{
  padding: 0px 10px;
  background-color: #37a690 ;
}
.heading{
  font-size: 3.5rem;
  color:#f7f7f8;
}
.subtitle{
  font-size: 2.1rem;
  font-weight: 600;
  color: #f7f7f8 ;
}
.btn{
  background-color: #37a690 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.heading span{
  color: #025e4c;
}
.main-heading{
   padding-left: 20px;
   color:#025e4c;
   text-align: center;
}
.para,ul li{
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  line-height: 2rem;
  color: #025e4c;
}
.cardbtn{
  outline: none;
  border: 1px solid #fff !important;
  border-radius: 100px!important;
  background-color: #025e4c !important;
  margin: 10px 0px;
}
.cardbtn:hover{
  background-color: #37a690 !important;
}
